
.contenedor__todo{
    width: 70%;
    max-width: 800px;
    margin: auto;
    position: relative;
}


/*Formularios*/

.contenedor__login-register form input{
    display: inline-block;
    width: 70%;
    margin-top: 20px;
    padding: 10px;
    border-bottom-left-radius: solid rgb(15, 15, 15);
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 16px;
    
    background: #ffb58a;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
}


input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(pink);
  }
  
  input:valid {
    border: 2px solid green;
  }

  
textarea:invalid {
    border: 2px dashed red;
  }
  
  textarea:invalid:required {
    background-image: linear-gradient(pink);
  }
  
  textarea:valid {
    border: 2px solid green;
  }



    
